*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.header{
    width: 100%;
    height: 60px;
    display: block;
    background-color: #475c6c;
    position: fixed;
    overflow: hidden;
    z-index: 1;
    
}


.navigation{
    float: left;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: block;
    text-align: center;
    float: left;
    padding: 14px 16px;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Bebas Neue';
    font-size: 25px;
}

.navigation a:hover {
    background: #ddd;
    color: #475c6c;
}

.block {
    background-image: url('Eminem.jpeg');
    color: black;
    display: block;
    font-family: cursive;
    font-size: 30px;
    font-weight: 400;
    height: 500px;
    line-height: 24px;
    text-align: left;
    ;
    width: auto;
    position: relative;
    box-sizing: border-box;
    display: block;
    
}

h2 {
    font-family: initial;
    color: white;
    font-size: xx-large;
    

}

body {
    background-color: #cebdb5;
    width: auto;
    height: auto;
    
}

table, td, th {
    border: 2px 
    solid black;
    text-align: center;
            
}

img {
    width: 235px;
    
}

.search_bar {
    transform: translateY(110%);
    float: right;
    
}   

.SpotifyReference{
    display: contents;
    

}